{% extends "../base.html" %}
{% block title %}
    Posts
{% endblock title %}
{% block content %}
    <h2>{{ thread.title }}</h2>
    {% if posts|length == 0 %}
        <article style="color:red;">There are no posts in this thread.</article>
    {% else %}
        {% for post in posts %}
            <article id="post_id_{{ post.id }}">
                <a href="#post_id_{{ post.id }}">Link</a>:
                {{ post.content }}
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}
