{% extends "../base.html" %}
{% block title %}
    Threads
{% endblock title %}
{% block content %}
    <h2>{{ category.name }}</h2>
    {% if  threads|length == 0 %}
        <article style="color:red;">There are no threads in this category.</article>
    {% else %}
        {% for thread in threads %}
            <article>
                <a href="{% url 'forum:show-posts' cat_id=category.id thread_id=thread.id %}">{{ thread.title }}</a>
            </article>
        {% endfor %}
    {% endif %}
{% endblock content %}
